
/*Cores do layout como header, nav e footer*/

.header-index{
	background-color: #014570;
}
#nav-index{
	background-color: #0282d1;
}

.header-sobre{
	background-color: #00b2c6;
}
#nav-sobre{
	background-color: #00bcd1;
}

.header-contato{
	background-color: #005f6b;
}
#nav-contato{
	background-color: #0092a6;
}

.header-login{
	background-color: #20256b;
}

#footer-login{
	background-color: #20256b;
	margin-top: 679px;
}
