/*Layout responsivo*/
@media (max-width: 768px){
	header h4 {
    margin-left: 60%;
	}
	header > img {
    width: 7%!important;
	}
	article span {
    margin-right: 65px;
	}
	.cursoExtra img {
    margin-right: 22%;
	}
	article form input {
    
    width: 35%;
	}
	#login{
		margin-top: -55%!important;
		height: 60%;
	}
	#login label {
    margin-left: -45%;
	}
	#img{
		width: 111%;
		height: 516px!important;
		margin-top: -40px;
	}
}
@media (max-width: 656px) {
	article{
		width: 88%!important;
	}
	#login{
		margin-left: 25%;
	}
	.cursoExtra img {
    margin-right: 27%;
	}
	article form {
		margin-right: 60px;
	}
	article form input {
    width: 46%;
	}
	#img {
    width: 113%;
    margin-top: 1px;
	}
#login {
	margin-top: -65%!important;
	}
}
@media(max-width: 572px){
	header h4 {
    margin-left: 50%;
	}
	header > img {
    width: 10%!important;
	}
	article{
		width: 86%!important;
	}
	article form input {
    width: 55%;
	}
	.cursoExtra img {
    margin-right: 30%;
	}
	#login{
		margin-left: 25%;
	}
	#img {
    width: 116%;
    margin-top: -43px;
	}
}
@media(max-width: 425px){
	header h4 {
    margin-left: 20%!important;
	}
	article{
		width: 83%!important;
	}
	article > p {
    width: 90%!important;
		margin-left: 5%!important;
	}
	article span {
    margin-right: 33px;
	}
	article button{
		width: 40%!important;
	}
	#login{
		margin-left: 20%;
		margin-top: -410px;
		height: 60%;
	}
	#login label {
    margin-left: -10%;
	}
	#img{
		width: 120%;
		height: 513px;
		margin-top: -44px;
	}
	#login button{
		width: 70%!important;
	}
	header > img{
		width: 15%!important;
	}

	.cursoExtra img{
		width: 8px;
		margin-right: 45%;
		margin-bottom: -22px;
	}
	article label {
    margin-right: 45%;
	}
	article form input {
    margin-left: 20%;
    width: 72%;
	}
	article textarea {
    margin-left: 20%;
    border-radius: 10px;
	}
	article form > #formButton{
		margin-left: 20%;
	}
}

@media (max-width: 375px){
	article{
		width: 80%!important;
	}
	.cursoExtra img {
    margin-right: 50%;
	}
	article form input {
    width: 100%;
	}
	#img {
    width: 124%;
    margin-top: -35px;
		height: 514px!important;
	}
	#login {
		height: 40%;
    margin-top: -115%!important;
	}
}
@media (max-width: 320px) {
	header h4 {
    margin-left: 8%!important;
	}
	article {
    width: 78%!important;
	}
	.cursoExtra img {
		margin-right: 60%;
	}
	#img {
    width: 128%;
    margin-top: 0px;
	}
	#login {
    height: 60%;
	}
	
}