/*Layout responsivo*/
@media(max-width: 1040px){
	#login{
		margin-top: -40%;
	}
	.cursoExtra img {
    margin-right: 17%;
	}
}
@media (max-width: 768px){
	header h4 {
    margin-left: 60%;
	}
	header > img {
    width: 7%!important;
	}
	article{
		width: 89%!important;
	}
	article > p{
		width: 70%;
    margin-left: 12%;
	}
	article span {
    margin-right: 65px;
	}
	article form input {
    width: 35%;
	}
	.cursoExtra img {
    margin-right: 22%;
	}
	#login{
		margin-top: -55%!important;
		height: 60%;
	}
	#login label {
    margin-left: -45%;
	}
	#img{
		width: 113%;
		height: 516px!important;
		margin-top: 0px;
	}
	.menu{
		padding:  5px;
	}
}
@media (max-width: 656px) {
	article{
		width: 87%!important;
	}
	article > p{
		width: 70%;
    margin-left: 12%;
	}
	article form {
		margin-right: 60px;
	}
	article form input {
    width: 46%;
	}
	#login{
		margin-left: 25%;
	}
	.cursoExtra img {
    margin-right: 27%;
	}
	#img {
    width: 115%;
    margin-top: 1px;
	}
#login {
	margin-top: -65%!important;
	}
	.menu{
		padding:  5px;
	}
}
@media(max-width: 572px){
	header h4 {
    margin-left: 50%;
	}
	header > img {
    width: 10%!important;
	}
	article{
		width: 86%!important;
	}
	article > p{
		width: 70%;
    margin-left: 12%;
	}
	
	article form input {
    width: 55%;
	}
	.cursoExtra img {
    margin-right: 30%;
	}
	#login{
		margin-left: 25%;
	}
	#img {
    width: 116%;
    margin-top: -43px;
	}
	.menu{
		padding:  5px;
	}
}
@media(max-width: 425px){
	header h4 {
    margin-left: 20%!important;
	}
	article{
		width: 81%!important;
	}
	article > p {
    width: 90%!important;
		margin-left: 5%!important;
	}
	article span {
    margin-right: 33px;
	}
	article button{
		width: 40%!important;
	}
	#login{
		margin-left: 20%;
		margin-top: -420px!important;
		height: 60%;
	}
	#login label {
    margin-left: -10%;
	}
	#img{
		width: 123%;
		height: 513px;
		margin-top: -44px;
	}
	#login button{
		width: 70%!important;
	}
	header > img{
		width: 15%!important;
	}
	.cursoExtra img{
		width: 8px;
		margin-right: 45%;
		margin-bottom: -22px;
	}
	article label {
    margin-right: 45%;
	}
	article form input {
    margin-left: 20%;
    width: 85%;
	}
	article textarea {
    margin-left: 20%;
    border-radius: 10px;
	}
	article form > #formButton{
		margin-left: 20%;
	}
	.menu{
		padding:  5px;
	}
	footer {
    margin-top: 525px!important;
	}
}
@media (max-width: 375px){
	article{
		width: 78%!important;
	}
	.cursoExtra img {
    margin-right: 50%;
	}
	article form input {
    width: 100%;
	}
	#img {
    width: 129%;
		height: 520px!important;
		margin-top: 0px;
	}
	#login {
		height: 60%;
    margin-top: -115%!important;
	}
	.menu{
		padding:  5px;
	}
}
@media (max-width: 320px) {
	header h4 {
    margin-left: 8%!important;
	}
	article {
    width: 75%!important;
	}
	.cursoExtra img {
		margin-right: 60%;
	}
	#img {
    width: 134%;
    margin-top: 0px;
	}
	#login {
    height: 60%;
    margin-top: -130%!important;
}
	.menu{
		padding:  5px;
	}
	#msg{
		width: 190px;
	}
	textarea:-moz-placeholder { color:#4C4; }
}
