*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	bgcolor: #CCCCCC;
}
header{
	text-align: center; 
	color: white; 
	padding: 30px;
}
header h4{
	margin-left: 75%;
}
#div-imgPerfil{
	width: 4%;
  height: 50%;
  float: right;
  margin-bottom: 50px;
  margin-top: -45px;
  margin-right: 0px;
}
nav{
	display: table;
	float: left; 
	width: 10%; 
	height: 522px;
	border-radius: 0 65px 65px 0px;
}
nav ul{
	list-style-type: none;
	margin-top: 115px;
}

nav ul li:hover{
	background-color: black;
	opacity: 0.6;
}

hr{
	margin-top: 180%;
	border: 1px solid white;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: #c6c4c4;
}
section{
	text-align: center;
}
article{
	float: left; 
	width: 90%; 
	background-color: white; 
	height: 100%;
}

article > input{
	display: block;
	margin-left: 42%;
	border: none;
	background: #dddd;
	height: 6%;
	width: 19%;
}
article textarea{
	display: block;
	margin-left: 42%;
	border: none;
	background: #dddd;
}

article > label{
	margin-right: 12%;
	font-size: 10px;
	color: #c1bdbdde;
}

article > button{
	border: none;
	background: blueviolet;
	color: white;
	height: 10%;
	width: 19%;
	display: block;
	margin-left: 42%;
	border-radius: 30%;
}

.div-esquerda{
	/*float: left;
	width: 50%;
  height: 100%;
	background: green;*/
	text-align: center;
	letter-spacing: 1px;
}

.div-esquerda h1, p, small{
	padding: 10px;
}

.div-esquerda button{
	width: 20%;
  height: 10%;
  border-radius: 25%;
  padding: 0px;
  margin-left: 10px;
	background-color: #279aac;
	border: #00b2c6;
	font-weight: bold;
	font-size: 15px;
}
.div-esquerda button > a{
	color: white;
}
.div-direita{
	/*float: right;
	height: 100%;
	background: red;*/
	width: 50%;
	margin-left: 25%;
}
#div-sobre-2 img{
	width: 2%;
margin-right: 30%;
margin-bottom: -6%;
}
header img{
	width: 100%;
	border-radius: 50%;
}
footer{
	padding: 10px; 
	text-align: center; 
	color: white;
	margin-top: 522px;
}
small{
	font-size: 10px;
}


.header-index{
	background-color: #014570;
}
#nav-index{
	background-color: #93bee6;
}
.header-contato{
	background-color: #026aa7;
}
#nav-contato{
	background-color: #b1dff9;
}
.header-sobre{
	background-color: #00b2c6;
}
#nav-sobre{
	background-color: #9ddae8;
}
.header-tabela{
	background-color: #ddd;
	color: black;
}
#nav-tabela{
	background-color: white;
	height: 340px;
}

#footer-login{
	background-color: #014570;
	margin-top: 679px;
}

#login{
	background-color: white;
	width: 253px;
	height: 50%;
	margin-left: 60%;
	margin-top: -30%;
	position: absolute;
	border-radius: 12%;
}

#login  label{
	margin-left: -70%;
	display: block;
	font-size: 10px;
	color: #a4a4a4;
}
#login button{
	margin-top: 40%;
	width: 85%;
	height: 10%;
	border: none;
	border-radius: 50px;
	background-color: #0101df;
	color: white;
	
}
#user-senha{
	padding-top: 60px;
	margin-bottom: 15%;
}
.login-button{
	border: 1px solid none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: red;
	outline: none;
}
img{
	width: 111%;
	height: 130%;
	position: relative;
}

@media (max-width: 654px) {
	/*.div-esquerda{
		float: none;
    height: 0px;
    width: 360px;
    margin-top: -85%;
    margin-left: 50%;
	}*/
	.div-direita{
    width: 60%;
	}
	article{
		width: 88%;
	}
	#login{
		margin-left: 25%;
	}
	img{
		width: 116%;
	}/**/
}
@media(max-width: 550px){
	.div-direita{
    width: 68%;
	}
	article{
		width: 86%;
	}
	#login{
		margin-left: 25%;
	}
	img{
		width: 116%;
	}
}
@media(max-width: 472px){
	.div-direita{
    width: 80%;
		margin-left: 10%;
	}
	article{
		width: 84%;
	}
	#login{
		margin-left: 20%;
	}
	img{
		width: 119%;
	}
}