/*Estilos gerais para toda a aplicacao*/

header h4{
	margin-left: 75%;
}
nav ul li:hover{
	background-color: black;
	opacity: 0.6;
}
a:hover{
	color: #c6c4c4;
}
article  input{
	display: block;
	margin-left: 42%;
	
	background: #dddd;
	height: 6%;
	width: 23%;
	outline: none;
}
article textarea{
	display: block;
	margin-left: 42%;
	border: none;
	background: #dddd;
	outline: none;
}

article label{
	margin-right: 12%;
	font-size: 10px;
	color: #c1bdbdde;
}

#button-input{
	background: #0985ce;
	color: white;
	height: 10%;
	display: block;
	margin-left: 42%;
	border-radius: 20px;
	padding: 3px;
}

.div-esquerda{
	/*float: left;
	width: 50%;
  height: 100%;
	background: green;*/
	text-align: center;
	letter-spacing: 1px;
}

.div-esquerda > h1, p, small{
	padding: 10px;
}
.div-direita > h1{
	padding: 6px;
}

.div-esquerda button{
	width: 20%;
  height: 10%;
  border-radius: 50px;
  padding: 4px;
  margin-left: 10px;
	background-color: #279aac;
	font-weight: bold;
	font-size: 15px;
}
.div-esquerda button > a{
	color: white;
}
.div-direita{
	/*float: right;
	height: 100%;
	background: red;*/
	width: 50%;
	margin-left: 25%;
}
#div-sobre-2 img{
	width: 2%;
margin-right: 35%;
margin-bottom: -6%;
}
small{
	font-size: 10px;
}

#footer-login{
	background-color: #014570;
	margin-top: 679px;
}

#login{
	background-color: white;
	width: 253px;
	height: 50%;
	margin-left: 60%;
	margin-top: -30%;
	position: absolute;
	border-radius: 12%;
}

#login  label{
	margin-left: -70%;
	display: block;
	font-size: 10px;
	color: #a4a4a4;
}
#login button{
	margin-top: 12%;
	width: 85%;
	height: 8%;
	border-radius: 50px;
	background-color: #0101df;
	color: white;
	
}
#user-senha{
	padding-top: 60px;
	margin-bottom: 15%;
}
.login-button{
	border: 1px solid none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: red;
	outline: none;
	width: 77%;
	background: none;
	margin-left: 10%;
}
img{
	width: 111%;
	height: 130%;
	position: relative;
}